/* utility class  */
.space-beetwen {
    justify-content: space-between;
}

.ali-ite-cen {
    align-items: center;
}

img {
    width: 100%;
}

.baseline {
    align-items: baseline;
}

.h100 {
    height: 100%;
}



/* end utility class */
.app {
    height: 100vh;
    color: #727479;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 9px;
}

main {
    height: calc(100vh - 90px);
}

footer {
    height: 90px;
    background-color: #282828;
    padding: 15px 0;
}

.sidebar {
    background-color: black;
}

.content {
    background-color: #141922;
    height: 100%;
    overflow-y: scroll;
}

.header {
    position: fixed;
    background-color: rgba(0, 0, 0, 0.5);
    height: 90px;
    width: 100%;
}

.element {
    height: 200vh; }
/*  ricorda di eliminare */








/* leyout footer  */

/* leyout info song  */
.info-song {
    padding: 0 5px
}

.song .song-title {
    color: white;
    font-size: 14px;
}

.song .img {
    padding: 5px;
}
.song .img .row {
    height: 100%;
}

.song .img img {
    align-self: center;
}

.song-tipe {
    padding-right: 2px;
}

.song .icon-cen {
    font-size: 14px;
    text-align: center;
}

/* leyout player */
footer .player {
    font-size: 14px;
    color: white;
}

.player .botton {
    display: flex;
    justify-content: center;
    align-items: center;
}

.player .botton > div {
    margin: 0 10px;
    text-align: center;
}

.botton .icon-big {
    font-size: 20px;
}

.song-time .time {
    color: white;
    font-size: 10px;
    flex-basis: 20px;
    margin: 0 5px;
}

@media screen and (min-width: 576px) {
    .song-time .time {
        margin: 0 10px;
    }
    
}
@media screen and (min-width: 768px) {
    .song-time .time {
        margin: 0 15px;
    }
    
}@media screen and (min-width: 992px) {
    .song-time .time {
        margin: 0 20px;
    }
    
}

.song .bar {
    height: 5px;
    flex-grow: 1;
    background-color: #727479;
    border-radius: 5px;
}

.song .bar-advance {
    height: 5px;
    background-color: white;
    border-radius: 5px;
}



.song .volum {
    color: white;
    padding-right: 5px;
}

.song .volum > div {
    margin-right: 5px;
    font-size: 14px;
}


@media screen and (min-width: 576px) {
    .song .volum > div {
        margin-right: 5px;
    }
    
}
@media screen and (min-width: 768px) {
    .song .volum > div {
        margin-right: 10px;
    }
    
    
}@media screen and (min-width: 992px) {
    .song .volum > div {
        margin-right: 15px;
    }
}
.song .volum > div:last-child {
    margin-right: 0;
}
