/* utility class  */
.space-beetwen {
    justify-content: space-between;
}

.ali-ite-cen {
    align-items: center;
}

img {
    width: 100%;
}

.baseline {
    align-items: baseline;
}



/* end utility class */
.app {
    height: 100vh;
    color: #727479;
}

main {
    height: calc(100vh - 90px);
}

footer {
    height: 90px;
    background-color: #282828;
}

.sidebar {
    background-color: black;
}

.content {
    background-color: #141922;
    height: 100%;
    overflow-y: scroll;
}

.header {
    position: fixed;
    background-color: rgba(0, 0, 0, 0.5);
    height: 90px;
    width: 100%;
}

.element {
    height: 200vh; }
/*  ricorda di eliminare */


.song {
    border: 1px solid white;

}

.song .song-title {
    color: white;
}
