/* utility class  */
.space-beetwen {
    justify-content: space-between;
}

.ali-ite-cen {
    align-items: center;
}


.baseline {
    align-items: baseline;
}

.h100 {
    height: 100%;
}

.column {
    display: flex;
    flex-direction: column;

}

ul {
    list-style: none;
}

.sp-cen {
    justify-content: center;
}

/* end utility class */
.app {
    height: 100vh;
    color: #727479;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 9px;
}

main {
    height: calc(100vh - 90px);
}

footer {
    height: 90px;
    background-color: #282828;
}

.sidebar {
    background-color: black;
    padding: 2px;
}
@media screen and (min-width: 576px) {
.sidebar {
    padding: 10px;
}
 }


.content {
    background-color: #141922;
    height: 100%;
    overflow-y: scroll;
    width: 100%;
}

.header {
    position: fixed;
    background-color: rgba(0, 0, 0, 0.5);
    height: 90px;
    width: 100%;
}

.element {
    height: 200vh; }
/*  ricorda di eliminare */

/* leyout sidebar  */

.logo {
    min-height: 30px;
    flex-basis: 30px;
    display: flex;
    align-items: center;
}

@media screen and (min-width: 576px) {
    .logo {
        min-height: 90px;
        flex-basis: 90px;
    }
}
.big-logo {
    display: none;
}

@media screen and (min-width: 576px) {
    .big-logo {
        display: block;

    }

    .small-logo {
        display: none;
    }

}
    
.option {
    min-height: 125px;
    font-size: 14px;
    padding: 10px 0;
}

.option li {
    margin: 5px 0;
}

.option .column {
    align-items: center;
}
@media screen and (min-width: 576px) {
    .option .column {
        align-items: flex-start;
    }
}


.option svg {
    height: 24px;
    vertical-align: middle;
}


@media screen and (min-width: 576px) {
    .option svg {
        height: 24px;
    }
}

.option svg path {
  fill: #727479 ;;
}

.option .principal svg path {
    fill: white;
}



.option .text {
    display: none;
}

@media screen and (min-width: 576px) {
    
    .option .text {
        display: inline-block;
        line-height: 24px;
    }

    .option li:first-of-type .text {
        color: white;
    }
}

.playlist {
    flex-basis: 100px;
    flex-grow: 1;
    flex-shrink: 1;
    overflow: auto;
    min-height: 100px;
}

.playlist ul {
    height: 100%;
}

.playlist h3, .playlist ul {
    display: none;
}

@media screen and (min-width: 576px) {
    .playlist h3, .playlist ul {
        display: block;
    }
}

.playlist h3 {
    font-size: 20px;
    color: white;
}
.playlist li {
    margin: 5px 0;
}

.playlist ul  li:first-child i {
    font-size: 30px;
    vertical-align: middle;
}

.playlist .text, .playlist .text-special {
    font-size: 14px;
    display: inline-block;
}

.playlist .text-special {
    line-height: 30px;
}

.account {
    display: none;
}

@media screen and (min-height: 510px) {
    .account {
        display: block;
    }

}

.instal {
    padding: 10px 0;
    border-bottom: 1px solid white;
    text-align: center;
}

.profile {
    padding: 10px 0;
    text-align: center;
}

.instal svg {
    height: 9px;
    vertical-align: middle;
}

.account .text {
    display: none;
    text-align: center;
}
@media screen and (min-width: 576px) {
    .instal, .profile {
        text-align: left;
    }

    .instal .text {
        display: inline-block;
        font-size: 9px;
        line-height: 9px;
    }

    .profile .text {
        vertical-align: middle;
        display: inline-block;
        color: white;
        font-size: 14px;
        line-height: 20px;
    }

}

.profile svg {
    height: 20px;
    vertical-align: middle;
}

.profile .back {
    display: inline-block;
    background-color: gray;
    border-radius: 50%;
    padding: 5px;
}

/* leyout header  */
.header {
    font-size: 16px;
    color: white;
    padding-right: 30px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.header .botton {
    border: 2px solid white ;
    border-radius: 10px;
    padding: 10px;

}

/* leyout element  */
.element {
    padding: 100px 20px 0;
    pa
}
.element section {
    margin: 20px 0;

}

.element nav .text {
    text-align: center;
    padding: 10px;
}

.element section h1 {
    color: white;
    font-size: 20px;
}

section .disco {
    height: 100px;
    border: 1px solid white;
}



/* leyout footer  */

/* leyout info song  */
.info-song {
    padding: 0 5px
}

.song .song-title {
    color: white;
    font-size: 14px;
}

.song .img {
    padding: 5px;
    display: flex;
    align-items: center;
}
.song .img img {
    height: 30px;
}

@media screen and (min-width: 576px) {
    .song .img img {
        height: 60px;
    }
    
}

.song .img img {
    align-self: center;
}

.song-tipe {
    padding-right: 2px;
}

.song .icon-cen {
    font-size: 14px;
    text-align: center;
}

/* leyout player */
footer .player {
    font-size: 14px;
    color: white;
}

.player .botton {
    display: flex;
    justify-content: center;
    align-items: center;
}

.player .botton > div {
    margin: 0 10px;
    text-align: center;
}

.botton .icon-big {
    font-size: 20px;
}

.song-time .time {
    color: white;
    font-size: 10px;
    flex-basis: 20px;
    margin: 0 5px;
}

@media screen and (min-width: 576px) {
    .song-time .time {
        margin: 0 10px;
    }
    
}
@media screen and (min-width: 768px) {
    .song-time .time {
        margin: 0 15px;
    }
    
}@media screen and (min-width: 992px) {
    .song-time .time {
        margin: 0 20px;
    }
    
}

.song .bar {
    height: 5px;
    flex-grow: 1;
    background-color: #727479;
    border-radius: 5px;
}

.song .bar-advance {
    height: 5px;
    background-color: white;
    border-radius: 5px;
}



.song .volum {
    color: white;
    padding-right: 5px;
}

.song .volum > div {
    margin-right: 5px;
    font-size: 14px;
}


@media screen and (min-width: 576px) {
    .song .volum > div {
        margin-right: 5px;
    }
    
}
@media screen and (min-width: 768px) {
    .song .volum > div {
        margin-right: 10px;
    }
    
    
}@media screen and (min-width: 992px) {
    .song .volum > div {
        margin-right: 15px;
    }
}
.song .volum > div:last-child {
    margin-right: 0;
}
